* {
  margin: 0;
  padding: 0;
}
*,
*::after,
* ::before {
  box-sizing: border-box;
}

:root {
  --light-gray: hsl(0, 0%, 90%);
  --bg-white: #fff;
  --header-padding: 30px;
  --header-height: 100px;
  --padding-left-right: 3em;
}

body {
  font-family: "Lato", sans-serif;
}
/* Header components start */
header {
  height: var(--header-height);
  grid-area: header;
  background-color: #fff;
  position: sticky;
  top: 0;
  background-color: var(--bg-white);
  box-shadow: -2px -2px 9px 0px var(--light-gray);
  display: flex;
  align-items: center;
  padding-inline: var(--padding-left-right);
}

.myHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

/* Header components start */

.grid__container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

main {
  background: #f3f3f3;
  padding-inline: var(--padding-left-right);
}

.logo {
  padding: var(--header-padding) 0;
}

.logo h2 {
  font-size: 2rem;
}
.sidebar__logo {
  height: var(--header-height);
  border-bottom: 1px solid #bdbdbd;
}
.sidebar__logo h2 {
  font-size: 2rem;
  color: #fff;
}

aside {
  display: none;
  grid-area: sidebar;
  background-color: #5552ff;
  position: sticky;
  top: 0;
  align-self: flex-start;
  min-height: 100vh;
}
footer {
  min-height: 100px;
  grid-area: footer;
  background-color: var(--bg-white);
  padding-inline: var(--padding-left-right);
}

.myFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button style start */
.btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 18px;
  border-radius: 5px;
  transition: all 100ms ease-in;
}

.btn.btn-login {
  background-color: #5552ff;
  color: #fff;
  margin-right: 5px;
}

.btn.btn-signin {
  border: 1px solid #5552ff;
}

.btn.btn-primary {
  background-color: hsl(241, 100%, 56%);
}

.mt-4 {
  margin-top: 1em;
}

.btn.btn-login:hover {
  background-color: hsl(241, 100%, 56%);
  color: #fff;
}

.btn.btn-signin:hover {
  background-color: #5552ff;
  color: #fff;
  border: 1px solid #5552ff;
}
/* button style end */

.showOff {
  padding: 41px 0;
}

.sidebar__logo {
  flex-grow: 1;
}

li.nav__list {
  padding: 1.5em 0;
}

a.nav__link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

ul {
  list-style: none;
}

nav {
  position: absolute;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  right: 0;
  justify-content: center;
}

/* product styles */
.product__container {
  margin: 1.5em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}

.product__container > div {
  padding: 18px;
  background-color: #fff;
}

h2.title {
  color: rgb(62, 62, 62);
  margin-bottom: 10px;
}
.desc {
  color: rgb(142, 142, 142);
  line-height: 1.5;
}

/* media queries for bigger screen */
@media (min-width: 640px) {
  aside {
    display: block;
    position: sticky;
    top: 100px;
    min-height: calc(100vh - var(--header-height));
  }
  .sidebar__logo {
    display: none;
  }

  .showOff h2 {
    font-size: 1.4rem;
  }

  .grid__container {
    grid-template-columns: 250px 1fr;
    grid-template-areas:
      "header header"
      "sidebar main"
      "sidebar footer";
  }
}
@media (min-width: 756px) {
  aside {
    top: 0;
    min-height: 100vh;
  }
  .sidebar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    display: none;
  }
  .myHeader {
    justify-content: end;
  }

  .grid__container {
    grid-template-areas:
      "sidebar header"
      "sidebar main"
      "sidebar footer";
  }
}
